body{
  background-color: rgb(223, 223, 223);
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #575658;
  }
}

.App {
  text-align: center;
}

.post{
  width: 40%;
  display: flex;
  margin: 2rem auto 1rem;
  padding: 1.5rem 0;
  flex-direction: column;
  border-radius: 20px;
  background: #363062;
  box-shadow: 1px 1px 10px black;

  color: #F5E8C7;
  font-size: 30px;
}

.posterProfile{
  display: flex;
  margin: 0 0.5rem 1.5rem;
}

.posterPic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.poster{
  font-size: 20px;
  margin: auto 0.5rem;
  text-align: left;
}

.postImage{
  max-height: 30rem;
  min-height: 20rem;
}

.postStats{
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  justify-content: space-between;

  font-size: 20px;
}

.statTitle{
  font-weight: bold;
  margin: 0.5rem;
}

.stat{
  margin: 0.5rem;
}

hr{
  width: 100%;
  margin: 0;
  border-color: #1f1b38;
}

.caption{
  margin: 0 0.5rem;
  text-align: left;
}
