body{
    color: #F5E8C7;
}
.registerPage{
    width: 40%;
    margin: 2rem auto;
    background-color: #363062;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inputSections{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(4, 25%);
    margin: 0 auto 1rem;
}

label{
    margin: 0.5rem 0;
}

input{
    margin: 0.45rem 0;
}

button{
    width: auto;
    margin: 0 auto 1rem;
    font-size: 1.5vw;
}